
body
	{
	background-color: Blue;
	}


	{
	background-color: Aqua;	
	}

section
	{
	background-color: BlueViolet;
	}

p
	{
	color: DarkGray;
	}

	{
	font-family: 'Calibri', "sans-serif";
	color: rgb(255,255,255);
	}

h1
	{
	font-family: 'Comic Sans', "sans-serif";
	}


h2
	{
	font-family: 'Times New Roman', 'Georgia', "sans-serif";
	font-weight: 200;
	font-size: 30px;
	}



img 
	{
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
